# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List some of the commonly used libraries used by Data Scientists
* List Data Science Tools
* Few Arithmetic Expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Tensorflow
4. BeautifulSoup

|Data Science Tools|
| --- | 
|IBM Watson Studio| 
|R Studio|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hrs = (min)/60
hrs

3.3333333333333335

## Author
Sunit Trivedi